/*General CSS*/
body{
  background-color: #e6e8eb;
}

/*India flag */
.india-flag-exo{
    background: linear-gradient(#FF9933 33.3%, #FFFFFF 33.3%, #FFFFFF 66.6%, #138808 66.6%);
    width: 270px;
    height: 180px;
    margin: auto;
  }
.ashoka-chakra{
   position: relative;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 3px solid #000080;
   top: 62px;
   left: 107.5px;
}
.ashoka-chakra:before {
  content: "";
  position: absolute;
  border: 5px solid #000080;
  border-radius: 50%;
  top: 20px;
  left: 20px;
}
.spoke {
  transform-origin: -2px 1px;
  width: 2px;
  height: 0;
  position: absolute;
  top: 24px;
  left: 27px;
  border-top: 1px solid transparent;
  border-right: 7px solid #000080;
  border-bottom: 1px solid transparent;
}
.spoke:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0;
  top: -1px;
  left: 9px;
  border-top: 1px solid transparent;
  border-left: 17px solid #000080;
  border-bottom: 1px solid transparent;
}
.spoke::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 2px;
  left: 21.5px;
  border-radius: 50%;
  border: 1.5px solid #000080;
}

.spoke1 {
  transform: rotate(0deg);
}

.spoke2 {
  transform: rotate(15deg);
}

.spoke3 {
  transform: rotate(30deg);
}

.spoke4 {
  transform: rotate(45deg);
}

.spoke5 {
  transform: rotate(60deg);
}

.spoke6 {
  transform: rotate(75deg);
}

.spoke7 {
  transform: rotate(90deg);
}

.spoke8 {
  transform: rotate(105deg);
}

.spoke9 {
  transform: rotate(120deg);
}

.spoke10 {
  transform: rotate(135deg);
}

.spoke11 {
  transform: rotate(150deg);
}

.spoke12 {
  transform: rotate(165deg);
}

.spoke13 {
  transform: rotate(180deg);
}

.spoke14 {
  transform: rotate(195deg);
}

.spoke15 {
  transform: rotate(210deg);
}

.spoke16 {
  transform: rotate(225deg);
}

.spoke17 {
  transform: rotate(240deg);
}

.spoke18 {
  transform: rotate(255deg);
}

.spoke19 {
  transform: rotate(270deg);
}

.spoke20 {
  transform: rotate(285deg);
}

.spoke21 {
  transform: rotate(300deg);
}

.spoke22 {
  transform: rotate(315deg);
}

.spoke23 {
  transform: rotate(330deg);
}

.spoke24 {
  transform: rotate(345deg);
}

/*Russia flag*/
.russia-flag{
  background: linear-gradient(#FFFFFF 33.3%, #0033A0 33.3%, #0033A0 66.6%, #DA291C 66.6%);
  width: 270px;
  height: 180px;
  margin: auto;
}